.calculTA {
    background-color: #F9F9F9;
    margin: 5%;
    padding: 5%;
    border-radius: 13px;
    box-shadow: #111111 0px 2px 8px;
    color: #111111
};

span > #resultatSolde, #resultatFinancement, #resultatTA {
    font-weight: 800;
}